<div class="container">
<h2>Work Scheduling</h2>
<p>Filter</p>
<div class="container">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><input type="checkbox" name="" id=""></th>
        <th>Name</th>
        <th>Branch</th>
        <th>Department</th>
        <th>Schedule Name</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="checkbox" name="" id=""></td>
        <td>Mark Jan</td>
        <td>Jitect Solutions</td>
        <td>Technical</td>
        <td>REGULAR SCHEDULE</td>
        <td>Sep 10 - Dec 10, 2024</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
